@media only screen and (max-width: 767px) {
    html {
        background-color: #282828;

    }

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    .outer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  
    }
    .main-container {
        
        box-sizing: border-box;
        background-color: #313131;
        max-width: 700px;
        height: 55vh;
        border-radius: 5px 5px 0px 0px;
        border-top: 1.5px solid rgba(255, 255, 255, 0.105);
        box-shadow: rgba(0, 0, 0, 0.344) 00px 5px 15px 2px,
         /* rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -10px 0px inset,
           rgba(10, 10, 10, 0.2) 0px -10px 15px inset */
      
           -60px -14px 10px -58px rgba(14,8,8,0.45) inset,
           61px 0px 10px -58px rgba(14,8,8,0.45) inset
           /* rgba(0, 0, 0, 0.211) 0px 7px 13px -3px, */
   
            ;
            
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
    
         padding-bottom: 30px;
         align-items:center;
  padding-top: 30px;
    }


.home,
.about2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
 
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 62px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.657);
    border-top: 1.5px solid rgba(255, 255, 255, 0.105);
    border-bottom: #1e1c1cbd 1px solid;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        /* rgba(0, 0, 0, 0.211) 0px 7px 13px -3px, */
        rgba(0, 0, 0, 0.239) 0px 0px 0px inset;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
    position: relative;
}

.top-border-left {
    border-radius: 19px 0px 0px 0px;
    text-decoration: none;
 
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        61px 0px 10px -58px rgba(14,8,8,0.45) inset,
        /* rgba(0, 0, 0, 0.211) 0px 7px 13px -3px, */
        rgba(0, 0, 0, 0.239) 0px 0px 0px inset;
        
}

.top-border-right {
    border-radius: 0px 19px 0px 0px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.62);
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        -60px -14px 10px -58px rgba(14,8,8,0.45) inset,
        /* rgba(0, 0, 0, 0.211) 0px 7px 13px -3px, */
        rgba(0, 0, 0, 0.239) 0px 0px 0px inset;

}

.horizontal-flex {
    display: flex;
    gap: 4px;
    z-index: 2;
}





.targeted{
    color: white;
    transform: scale(0.95);
  
    transition: all 1s ease-out;
}






.activeBorder{
    position: absolute;
 
    top: 64px;
    z-index: 1;
 
    height: 1.3px;
    width: 78px;
    background: linear-gradient(
      to left,
      #1d1d1e00,
      #0661c2,
      #3081DA,
      #43C9E7,
      #C9DBF7,
      #43C9E7,
      #3081DA,
      #0661c2,
      #1d1d1e00
    );
    transition: all 0.7s ease-out;
  }



.activeShadow {

position: absolute;
content: "";
top: 56px;
left: 3px;
right: 0;
z-index: 1;
height: 7px;
width: 78px;
filter: blur(2px)  contrast(100%);
background: linear-gradient(
to left,
#1d1d1e03,
#0661c23f,
#0661c286,
#067dc2b7,
#0661c286,
#0661c23f,
#0300cf00

);
transition: all 0.7s ease-out;
}

.position{
    left:4px;
  }
  .positionProjects{
    left:84px;
  }
  .positionAbout{
    left:252px;
  }
  .positionContact{
    left:168px;
  }
  
  


.bottom-circle-left{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #474747, rgb(111, 111, 111));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    border: #282626 solid 1px;
    margin-top: 30px;
    margin-right: 115px;
   position: absolute;
}
.bottom-circle-left::after{
    position: absolute;
    content: "";
   
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    box-shadow: rgba(246, 246, 246, 0.492) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    z-index: 0;


}

.bottom-circle-left::before{
    position: absolute;
    content: "";
    top: -4px;
    left: -4px;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    z-index: 1;
    border: solid  rgba(43, 43, 43, 0.49) 3.5px;


}
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #474747, rgb(111, 111, 111));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    border: #282626 solid 1px;
    /* box-shadow: rgb(255, 25, 25) 0px 25px 20px -20px; */
    margin-top: -35px;
  }
.dot{
    height: 25px;
}
  .circle::after{
    position: absolute;
    content: "";
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    box-shadow: rgba(246, 246, 246, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    z-index: 0;
  }
  .circle::before{
    position: absolute;
    content: "";
    top: 6px;
    left: 13px;
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    z-index: 1;
    border: solid  rgb(49,49,49) 2.5px;
  }



button{

  
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: rgba(246, 246, 246, 0.62) 0.1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: #0e0a0a -1px -1px;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 45px;
  width: 262px;

  z-index: 1;
}

button:before{
    position: absolute;
    border-radius: 4px;
    height: 45px;
    width: 262px;
    content: "";
    top: 415px;
    right: 0;
    bottom: 0;
    left: 35px;
    background-image: linear-gradient(
      to bottom,
      #0d70ea,
      #0dccea
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity:0;

}
button:hover:before{
    opacity: 1;
    
}
footer{
   z-index: 1;
    display: flex;
    position: relative;
    gap: 3px;
    
}


.left-footer{
    border-top: 1.5px solid rgba(255, 255, 255, 0.105);
    height: 70px;
    width: 164px;
    background-color: #2f2e2e;
    border-radius: 0px 0px 0px 19px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 2px 2px, 
    rgba(1, 1, 1, 0.375) 0px 7px 13px -3px,
     rgba(30, 29, 29, 0.3) 11px -3px 5px 1px inset,
    rgba(20, 18, 18, 0.627) 0px -7px 1px 0px inset;
       z-index: 1;
       display: flex;
       justify-content:center;
       align-items:center;
    
   
}

.right-footer{
    border-top: 1.5px solid rgba(255, 255, 255, 0.105);
    height: 70px;
    width: 164px;
    background-color: #313131;
    border-radius: 0px 0px 19px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 2px 2px, 
    rgba(1, 1, 1, 0.375) 0px 7px 13px -3px,
     rgba(30, 29, 29, 0.3) -11px -3px 5px 1px inset,
    rgba(20, 18, 18, 0.627) 0px -7px 1px 0px inset;
          z-index: 0;
          display: flex;
          justify-content:center;
          align-items:center;
          position: relative;
     
}
.linked-in{
    height: 50px;
}

.git{
    height:55px;
    margin-top: 5px;
}


.home-text{

    width: 262px;
    height: 280px;
 color: rgb(201, 196, 196);
    border-radius: 10px;
    background-color: #21202089;
    box-shadow: 0px 1px 0px rgba(255,255,255,.2), 0px 5px 5px 
    rgba(20, 19, 19, 0.529) inset,
    0px -5px 5px 
    rgba(20, 19, 19, 0.46) inset,
    10px 15px 5px 
    rgba(20, 19, 19, 0.3) inset,
    -10px 5px 5px 
    rgba(20, 19, 19, 0.3) inset
    ;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-stretch: ultra-expanded;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
	color: rgb(196, 196, 196);
    text-shadow: 0 8px 9px #0a0907, 0px -2px 1px rgb(27, 20, 20) ;
    text-align: justify-all;
    line-height: 1.2;
}

.thanks{
    margin-top: 25px;
}
.hi{
    margin-bottom: 15px;
}

}

.left-footer:hover:before{
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 1.5%;
    width: 50%;
    background: linear-gradient(
      to left,
      #1d1d1e00,
      #0661c2,
      #3081DA,
      #43C9E7,
      #C9DBF7,
      #43C9E7,
      #3081DA,
      #0661c2,
      #1d1d1e00
    );
    
    
}

.right-footer:hover:before{
    position: absolute;
    content: "";
    top: -3.5px;
    left:0px;
    right:50px;
    z-index: -1;
    height: 1.5%;
    width:100%;
    background: linear-gradient(
      to left,
      #1d1d1e00,
      #0661c2,
      #3081DA,
      #43C9E7,
      #C9DBF7,
      #43C9E7,
      #3081DA,
      #0661c2,
      #1d1d1e00
    );
    
    
}


.myCV{
    text-decoration: none;
    color: white;
}


.bottom-circle-right{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #474747, rgb(111, 111, 111));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    border: #282626 solid 1px;
    margin-top: 46px;
    margin-left: 305px;
   position: absolute;
   z-index: 1;
}
.bottom-circle-right::after{
    position: absolute;
    content: "";
   
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    box-shadow: rgba(246, 246, 246, 0.492) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,  rgba(123, 122, 122, 0.2) 0px -3px 0px inset;
    z-index: 1;


}

.bottom-circle-right::before{
    position: absolute;
    content: "";
    top: -4px;
    left: -4px;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: radial-gradient(circle, #47474700, rgba(111, 111, 111, 0));
    z-index: 1;
    border: solid  rgba(43, 43, 43, 0.49) 3.5px;


}